---
import "@/global.css"
import { Preload, Prefetch } from "@/lib/pre"
---
<html lang="en" class="brand">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <slot name="head">
  		<title>FAQ AI Chatbot by Sittipong</title>
    </slot>
    <meta name="author" content="Sittipong" />
    <meta name="website" content="https://sittipong.com" />
    <link rel="preconnect" href="https://rsms.me/"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
    <Preload />
    <Prefetch />
	</head>
	<body>
		<slot name="main" />
	</body>
</html>
