---
import Layout from "@/layout/default.astro"
import { App } from "@/app"
---
<Layout>
  <Fragment slot={"head"}>
    <title>🚀</title>
  </Fragment>
  <Fragment slot={"main"}>
    <main class="w-full min-h-[100dvh] flex flex-col">
      <App client:only="react" />
    </main>
  </Fragment>
</Layout>
