---
import Layout from "@/components/layout/default.astro"
---
<Layout>
  <Fragment slot={"head"}>
    <title>🚀</title>
  </Fragment>
  <Fragment slot={"main"}>
    <main id="root" class="w-full flex flex-col"/>
    <script>
      import "@/main"
    </script>
  </Fragment>
</Layout>
