---
import Layout from "@/components/layout/default.astro"
import { ChatRoom } from "@/containers/ai/container"
---
<Layout>
  <Fragment slot={"head"}>
    <title>🚀</title>
  </Fragment>
  <Fragment slot={"main"}>
    <main class="w-full flex flex-col">
      <ChatRoom client:load />
    </main>
  </Fragment>
</Layout>